@import "src/assets/styles/variables";

.P-add-new-user {
  width     : 100%;
  max-width : 115px;

  a {
    width           : 100%;
    height          : 40px;
    text-align      : center;
    color           : $white;
    background      : $blue;
    display         : flex;
    align-items     : center;
    justify-content : center;
    border-radius   : 4px;
    font-size       : 14px;

  }
}

.P-line {
  width            : 100%;
  height           : 2px;
  background-color : $white-1;
  margin           : 0 15px;
  display          : flex;
  flex             : 1;
}

.P-users-header {
  font-size : 18px;
}

.P-users-list-block {
  margin-top : 20px;
}

.P-users-list-block {
  .G-table-tr {
    .G-table-td {
      &:first-child {
        max-width : 50px;
        min-width : 50px;
      }

      &:nth-child(2) {
        max-width : 80px;
        min-width : 80px;
      }

      &:nth-child(3) {
        min-width : 170px;
      }

      &:nth-child(4) {
        min-width : 150px;
      }

      &:nth-child(6) {
        min-width : 200px;
      }

      &:nth-child(5) {
        min-width : 200px;
      }

      &:nth-child(7) {
        min-width : 150px;
      }

      &:nth-child(8) {
        min-width : 100px;
        max-width : 100px;
      }
    }
  }
}

.P-users-profile {
  width         : 47px;
  height        : 47px;
  border-radius : 50%;
}

.P-delete-user {
  width       : 20px;
  height      : 20px;
  margin-left : 15px;
  cursor      : pointer;
}

.P-ellipsis {
  text-overflow : ellipsis;
  overflow      : hidden;
  white-space   : nowrap;
  width         : 100%;
}

.ant-table-cell {
  vertical-align : middle;
  text-overflow : ellipsis;
  overflow      : hidden;
  white-space   : nowrap;
}
