@import "src/assets/styles/variables";

.P-user-details {
  max-width   : 400px;
  width       : 100%;
  margin-top  : 30px;
  margin-left : 40px;
}

.P-upload-box {
  margin        : 15px 0;
  display       : flex;
  align-items   : center;
  max-width     : 250px;
  min-width     : 250px;
  width         : 100%;
  border        : 1px solid $blue;
  border-radius : 6px;
  min-height    : 50px;
  padding       : 10px 15px;

  &.G-error{
    border-color: $red;
  }


  span {
    display             : block;
    width               : 20px;
    height              : 20px;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : contain;
  }

  p {
    font-size   : 18px;
    color       : $blue;
    margin-left : 20px;
  }
}

.P-image-result {
  width               : 45px;
  height              : 45px;
  border-radius       : 50%;
  border              : 1px solid black;
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : cover;
}

.P-save-btn {
  max-width  : 200px;
  margin-top : 15px;
}
