@import "../../assets/styles/variables";

.G-admin-header {
  min-height       : 70px;
  width            : 100%;
  padding          : 0 25px 0 35px;
  position         : relative;
  background-color : $white;
  border-bottom    : 1px solid rgba(0, 0, 0, 0.2);
}


.G-admin-title {
  color : $white;

  h3 {
    font-size : 20px;
    color     : $black;
  }
}



