@import "../../assets/styles/variables";

.sidenav-block {
  max-width        : 200px;
  width            : 100%;
  position         : fixed;
  height           : 100vh;
  z-index          : 9999999;
  background-color : $app-color;
  transition       : 0.3s;


  .P-sidenav-list {
    width          : 100%;
    height         : calc(100% - 75px);
    padding-bottom : 35px;
    padding-top    : 20px;

    a {
      color        : $white;
      width        : 100%;
      padding      : 15px;
      padding-left : 25px;
      transition   : 0.3s;
      font-size    : 14px;
      white-space  : nowrap;

      i {
        transition : 0.3s;
      }

      &:hover {
        background-color : $hover-menu;
        color            : $white;

      }

      &.activeLink {
        background-color : $hover-menu;
        color            : $white;
      }
    }
  }
}

.P-logo {
  display         : flex;
  align-items     : center;
  justify-content : center;
  padding         : 10px 0;

  a {
    width               : 80px;
    height              : 40px;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : contain;
  }

  .logo-sign-in {
    width               : 120px;
    height              : 80px;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : contain;
  }
}


.P-admin-logo {
  width    : 120px;
  height   : 60px;
  margin   : 0 auto;
  overflow : hidden;
}

.P-sidenav-list {

  .P-select-language {
    margin-left : 10px;
    margin-top  : 15px;
    display     : none;
  }
}

.P-contact-us {
  p {
    margin-bottom : 10px;

  }

  margin-left : 10px;

  ul {
    li {
      font-size : 12px;

      h3 {
        font-weight : 600;
      }
    }
  }
}

.P-menu-list {
  width      : 100%;
  margin-top : 20px;
  overflow   : hidden;
}


.P-menu-icon {
  width               : 17px;
  height              : 17px;
  background-repeat   : no-repeat;
  background-size     : contain;
  background-position : center;
  margin-right        : 10px;
  display             : block;
}


.P-sidebar-header {
  width            : 100%;
  height           : 70px;
  background-color : $sidebar-header;
}
