@import "src/assets/styles/variables";

.G-checkbox {
  &.G-checked {
    span {
      background-color : $app-color;
      border-color     : $app-color;

      &:before {
        opacity    : 1;
        visibility : visible;
      }

    }
  }

  span {
    display       : block;
    width         : 17px;
    height        : 17px;
    border-radius : 3px;
    border        : 1px solid rgba(0, 0, 0, 0.3);
    position      : relative;
    transition    : 0.3s;

    &:before {
      top         : 2px;
      left        : 6px;
      transform   : rotate(-145deg);
      position    : absolute;
      content     : '';
      width       : 3px;
      height      : 7px;
      border      : none;
      border-left : 2px solid $white;
      border-top  : 2px solid $white;
      transition  : 0.3s;
      opacity     : 0;
      visibility  : hidden;
    }
  }
}

.G-action-switch {
  width            : 30px;
  height           : 16px;
  border-radius    : 20px;
  padding          : 3px;
  display          : flex;
  align-items      : center;
  background-color : $green;
  cursor           : pointer;
  transition       : 0.3s;

  &.G-checked {
    background-color : $red;

    span {
      transform : translateX(12px);
    }
  }

  span {
    display          : block;
    border-radius    : 50%;
    background-color : white;
    width            : 11px;
    height           : 11px;
    transition       : 0.3s;
  }
}

.G-pagination-block {
  margin-top : 25px;

  .ant-pagination-item-active a {
    color : $app-color;
  }

  .ant-pagination-item-active {
    border-color : $app-color;
  }

  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    border-color : $app-color;
    color        : $app-color;

  }

  .ant-pagination-item:focus,
  .ant-pagination-item:hover {
    border-color : $app-color;

    a {
      color : $app-color;

    }
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color : $app-color;
    box-shadow   : none;
  }

  .ant-select:not(.ant-select-disabled) .ant-select-selector {
    box-shadow   : none !important;
    border-color : $app-color !important;

  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color : $app-color;
    color            : $white;
  }

  .ant-pagination-options-quick-jumper input:hover, .ant-pagination-options-quick-jumper input:focus {
    border-color : $app-color;
    box-shadow   : none;

  }

  .ant-pagination-item-link {
    width           : 30px;
    display         : flex;
    align-items     : center;
    justify-content : center;

    span {
      width : 20px;
    }
  }
}


.G-input-block {
  width     : 100%;
  max-width : 100%;
  padding   : 10px 0;

  &.G-error {
    input {
      border-color : $red;
    }
  }

  p {
    font-size     : 16px;
    margin-bottom : 10px;
    color         : $gray;
  }

  label {
    width   : 100%;
    display : block;

    input {
      width         : 100%;
      height        : 40px;
      border-radius : 6px;
      border        : 1px solid rgba(0, 0, 0, 0.5);
      padding       : 0 15px;
    }
  }
}

.G-upload-image {
  label {
    display       : block;
    cursor        : pointer;
    width         : auto;
    padding-right : 20px;

    input {
      display : none;
    }
  }
}
