@import "src/assets/styles/variables";

.G-table-block {
  .G-table-header {
    .G-table-tr {
      overflow      : hidden;
      border-radius : 4px;

      .G-table-td {
        background-color : $white-2;
        position         : relative;
        cursor           : pointer;

        p {
          font-size : 14px;
          color     : $white-3;
        }

        .P-table-arrow {
          display     : block;
          width       : 5px;
          position    : relative;
          margin-left : 7px;
          height      : 10px;

          &:before {
            position      : absolute;
            content       : '';
            border-top    : 5px solid $gray;
            border-bottom : 5px solid transparent;
            border-right  : 5px solid transparent;
            border-left   : 5px solid transparent;
            top           : 7px;
          }

          &:after {
            position      : absolute;
            content       : '';
            border-top    : 5px solid transparent;
            border-bottom : 5px solid $gray;
            border-right  : 5px solid transparent;
            border-left   : 5px solid transparent;
            bottom        : 7px;
          }
        }
      }
    }
  }

  .G-table-body {
    .G-table-tr {
      &:hover {
        cursor : pointer;

        .G-table-td {
          background-color : rgba(0, 0, 0, 0.05);
        }
      }
    }

    .G-table-td {

      p {
        text-overflow : ellipsis;
        overflow      : hidden;
        width         : 100%;
        white-space   : nowrap;
      }
    }
  }

  .G-table-tr {
    .G-table-td {
      min-height  : 40px;
      max-width   : 100%;
      width       : 100%;
      padding     : 10px;
      display     : flex;
      align-items : center;
      transition  : 0.3s;
    }
  }
}
