//  Color list

$black          : #000000;
$white          : #ffffff;
$blue           : #407EFF;
$white-1        : #E1E6EC;
$white-2        : #F1F3F5;
$white-3        : #788195;
$gray           : #BFBFBF;
$green          : #72B59B;
$red            : #F54745;


$shadow-black   : rgba(0, 0, 0, 0.2);
$app-color      : #2D3347;
$sidebar-header : #272D3E;
$hover-menu     : #1F2430;

